<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Asset</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Add Asset</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=64) }}
        </p>
        <p>
            {{ form.image.label }}<br>
            {{ form.image() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>