<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Ruangan KIR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Daftar Ruangan KIR</h1>
    <ul class="room-list">
        {% for room in rooms %}
            <li><a href="{{ url_for('download_file', filename=room.replace(' ', '_') + '.pdf') }}">{{ room }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>